h2{
    position: absolute;
    height: 500px;
    width: 500px;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: 10px;
    background: gray;
    color: white;
    border-radius: 3px;
}